        <div class="main-content">
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Dashboard</a>
              </li>
              <li class="active">试卷管理</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>

          <div class="page-content">
            <div class="page-header">
            <h1>
                试卷批改
                <small>
                  <i class="icon-double-angle-right"></i>
                  此处可以批改你所创建的试卷&nbsp; &nbsp; &nbsp;<a class="btn btn-xs btn-warning" href="__MODULE__/Manaexam/index">返回上一级</a>
                </small>
              </h1>
            </div><!-- /.page-header -->

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="hr dotted"></div>
                <div class="">
                  <div id="user-profile-3" class="user-profile row">
                    <div class="col-sm-offset-1 col-sm-10">
                      <div class="well well-sm">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        &nbsp;
                        <div class="inline middle blue bigger-110"> 注意查看你的试卷(Undevlepment)</div>
                        &nbsp; &nbsp; &nbsp;
                        <div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active">
                          <div class="progress-bar progress-bar-success" style="width:70%"></div>
                        </div>
                      </div><!-- /well -->

                      <div class="space"></div>

                      <form class="form-horizontal">
                        <input type="hidden" name="uid" id="uid" value="{$usermsg.uid}" />
                        <div class="tabbable">
                          <ul class="nav nav-tabs padding-16">
                            <li class="active">
                              <a data-toggle="tab" href="#edit-Basic">
                                <i class="blue icon-key bigger-125"></i>
                                所有上交此试卷但未批改的"<span style="color:red;">{$exam.etitle}</span>"考卷
                              </a>
                            </li>
                          </ul>
                          <div class="tab-content profile-edit-tab-content">
                            <div id="edit-Basic" class="tab-pane in active">
                              <div class="space-10"></div>
                              <div class="row">
                                <volist name="Exams" id="vo" empty="已批完所有试卷，或者没人提交">
                                  <div class="col-xs-12 col-sm-6">
                                    <h4 class="header blue bolder smaller">
                                      <span class="middle">试卷编号:{$vo.fid}</span>
                                      <span class="label label-purple arrowed-in-right">
                                        <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                                        未批改
                                      </span>
                                    </h4>
                                    <div class="profile-user-info">
                                      <div class="profile-info-row">
                                        <div class="profile-info-name"> 交卷时间 </div>
                                        <div class="profile-info-value">
                                          <span>{$vo.end_t}</span>
                                        </div>
                                      </div>
                                      <div class="profile-info-row">
                                        <div class="profile-info-name"> 过程时间(s) </div>
                                        <div class="profile-info-value">
                                          <i class="fa fa-map-marker light-orange bigger-110"></i>
                                          <span>{$vo.finish_t}</span>
                                        </div>
                                      </div>
                                      <div class="profile-info-row">
                                        <div class="profile-info-name"> 选择题得分 </div>
                                        <div class="profile-info-value">
                                          <span>{$vo.select_s}</span>
                                        </div>
                                      </div>
                                      <div class="profile-info-row">
                                        <div class="profile-info-name"> 其他得分 </div>
                                        <div class="profile-info-value">
                                          <span>{$vo.black_s}</span>
                                        </div>
                                      </div>
                                      <div class="profile-info-row">
                                        <div class="profile-info-name"> 总得分 </div>
                                        <div class="profile-info-value">
                                          <span>{$vo.sum_s}</span>
                                        </div>
                                      </div>
                                      <div class="profile-info-row">
                                        <div class="profile-info-name"> 操作 </div>
                                        <div class="profile-info-value">
                                          <div class="btn-group">
                                            <a href="/Home/Index/e.html?fid={$vo.fid}" class="btn btn-sm btn-success">
                                              <i class="ace-icon fa fa-plus-circle bigger-110"></i>
                                              <span class="bigger-110">查看</span>
                                            </a>
                                            <a href="__MODULE__/Manaexam/e.html?fid={$vo.fid}" class="btn btn-sm btn-warning">
                                              <i class="ace-icon fa fa-envelope-o bigger-110"></i>
                                              <span class="bigger-110">批改</span>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </volist>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div><!-- /span -->
                  </div><!-- /user-profile -->
                </div>
                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->