<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="#">Dashboard</a>
      </li>
      <li class="active">添加用户</li>
    </ul><!-- .breadcrumb -->

    <div class="nav-search" id="nav-search">
      <form class="form-search">
        <span class="input-icon">
          <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
          <i class="icon-search nav-search-icon"></i>
        </span>
      </form>
    </div><!-- #nav-search -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        CSV批量添加用户
        <small>
          <i class="icon-double-angle-right"></i>
          CSV批量添加新进成员
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="hr dotted"></div>
        <div class="">
          <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
              <form class="form-horizontal" enctype="multipart/form-data" method="post" action="__SELF__">
                <input type="hidden" name="uid" id="uid" value="{$usermsg.uid}" />
                <div class="tabbable">
                  <ul class="nav nav-tabs padding-16">
                    <li class="active">
                      <a data-toggle="tab" href="#edit-password">
                        <i class="blue icon-key bigger-125"></i>
                        添加用户
                      </a>
                    </li>
                  </ul>

                  <div class="tab-content profile-edit-tab-content">
                    <div id="edit-password" class="tab-pane in active">
                      <div class="space-10"></div>

                      <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-csvfile">CSV文件导入</label>

                        <div class="col-sm-9">
                          <input type="file" id="form-field-csvfile" name="csvfile" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="clearfix form-actions">
                  <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" id="btn-save" type="submit">
                      <i class="icon-ok bigger-110"></i>
                      导入
                    </button>
                  </div>
                </div>
              </form>
            </div><!-- /span -->
          </div><!-- /user-profile -->
        </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->
<!-- inline scripts related to this page -->