<div class="top_bg">
<div class="wrap">
	<div class="top">
		<h2>about us</h2>
 	</div>
</div>
</div>
<!-- start main -->
<div class="wrap">
<div class="main">
		<div class="about">
	       <div class="cont-grid">
	       <div class="abt-para">
	       	<span>郑州轻工业学院大学生科技创业中心技术部</span>
	       	<p class="para">来自科技创业中心的我们，利用平时的技术，去创写网站代码。</p>
	       	<p class="para">为这个网站的创建，我们付出了诸多努力，也同时收获了许多经验，在老师在启发下，与同学的互相鼓励下，我们写下了这个网站。</p>
			<div class="read_more">
				 <a class="btn" href="details.html">了解更多</a>
			</div>
	       	</div>
	      	 <div class="clear"></div>
	      	</div>
			 <div class="cont-grid-img img_style">
	     		<a href="details.html"><img src="__PUBLIC__/images/about_pic.jpg" alt=""></a>
	     	</div>	      	
	      	<div class="clear"></div>
	    	<div class="about-p">
		    	<p class="para">大学生科技创业中心成立于2002年，是计算机与通信工程学院在郑州轻工业学院率先推出的大学生科技创业团队。我们通过技术指导、培训，参加项目建设使每位成员的实践能力、工作态度、合作精神、科技创新意识、激情创业能力等得到全面提高。    </p>
				<p class="para">中心目前致力于网站制作、软件开发、电脑维护和多媒体处理，现正朝自主产品研发、项目科技创新、软件开发等方向发展，并且在系领导老师的支持和协助下逐步发展成为大学生科技创业公司。 </p>
				<div class="read_more">
					<a class="btn" href="details.html">了解更多</a>
				</div>
		</div>
		</div>
		<div class="clear"></div>
	</div>
</div>