	<!-- start top_bg -->
	<div class="top_bg">
		<div class="wrap">
			<div class="top">
				<h2>联系我们</h2>
			</div>
		</div>
	</div>
	<!-- start main -->
	<div class="wrap">
		<div class="main">
			<div class="contact">
				<div id="map-canvas"></div>
			</div>
			<div class="contact-form">
				<form class="form-group" method="post" action="__SELF__">
					<div>
						<span><label>姓名</label></span>
						<span><input name="userName" type="text" class="textbox"></span>
					</div>
					<div>
						<span><label>电子邮件</label></span>
						<span><input name="userEmail" type="text" class="textbox"></span>
					</div>
					<div>
						<span><label>手机</label></span>
						<span><input name="userPhone" type="text" class="textbox"></span>
					</div>
					<div>
						<span><label>简要描述你所遇到的问题</label></span>
						<span><textarea name="userMsg"> </textarea></span>
					</div>
					<div>
						<span><input type="submit" class="" value="交给我们"></span>
					</div>
				</form>
			</div>	
		</div>
	</div>
	<script type="text/javascript">
	jQuery(document).ready(function(){
		$('form.form-group').submit(function(e){
			var userName = $('input[name="userName"]').val();
			var userEmail = $('input[name="userEmail"]').val();
			var userPhone = $('input[name="userPhone"]').val();
			var userMsg = $('input[name="userMsg"]').val();
			if (userName===''||userEmail===''||userPhone===''||userMsg==='') {
				alert('请填写完整');
				return false;
			}
		})
	})
	</script>