<div class="top_bg">
<div class="wrap">
	<div class="top">
		<h2>our customs</h2>
 	</div>
</div>
</div>
<!-- start main -->
<div class="wrap">
<div class="main">
		<!-- start span_of_3 -->
		<div class="span_of_3">
			<div class="span1_of_3">
				<a href="#"><img src="__PUBLIC__/images/pic1.jpg" alt=""></a>
				<div class="span1_of_3_text">
					<h3><a href="#">党员工作室</a></h3>
					<p>专注于党员的发展，学院学生上课情况的督查的一个学生组织。</p>
				</div>
				<div class="ser_btn">
					<a class="button ser_btn1" href="#">read more</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!--  -->
	</div>
</div>