
<div class="top_bg">
	<div class="wrap">
		<div class="top">
			<h2>欢迎进来答题</h2><span>time:</span><span class="h2" id="mytime">00:00:00</span>
		</div>
	</div>
</div>
<!-- start main -->
<div class="wrap">
	<div class="main">
		<h1 style="font-size:2em;">{$title}</h1>
		<hr/>
		<form class="form-group" method="post" action="{:U('Home/Index/p')}">
			<div class="det_text">
				<volist name="groups" id="mygroups">
					<p class="para">{$mygroups.gname}。{$mygroups.gdescription}</p>
					<volist name="mygroups.question" id="resvo">
						<switch name="resvo.qtype"> 
							<case value="T">
								<p class="para rccount">{$resvo.qorder}、{$resvo.question}</p>
								<div class="row">
									<div class="col-sm-12">
										<volist name="resvo.answer" id="anssub">
											<div class="radio">
												<input type="radio" name="T{$resvo.qorder}" id="r{$anssub['aorder']}{$resvo.qorder}" value="{$anssub['aorder']}" />
												<label for="r{$anssub['aorder']}{$resvo.qorder}">
													<span>{$anssub['aorder']}、</span>
													{$anssub['answer']}
												</label>
											</div>
										</volist>
									</div>
								</div>
							</case>
							<case value="D">
								<p class="para rccount">{$resvo.qorder}、{$resvo.question}</p>
								<div class="row">
									<div class="col-sm-12">
										<volist name="resvo[answer]" id="anssub">
											<div class="checkbox checkbox-circle">
												<input type="checkbox" class="styled" name="D{$resvo.qorder}[]" id="r{$anssub['aorder']}{$resvo.qorder}" value="{$anssub['aorder']}"/>
												<label for="r{$anssub['aorder']}{$resvo.qorder}">
													<span>{$anssub['aorder']}、</span>
													{$anssub['answer']}
												</label>
											</div>
										</volist>
									</div>
								</div>
							</case>
							<case value="K">
								<p class="para">{$resvo.qorder}、{$resvo.question}</p>
							</case>
							<case value="J">
								<p class="para">{$resvo.qorder}、{$resvo.question}</p>
								<textarea class="form-control autosize-transition" name="J{$resvo.qorder}" id="answer-3-{$resvo.qorder}" placeholder="解答："></textarea>
							</case>
							<default />
						</switch>
					</volist>
				</volist>
			</div>
			<div class="clear"></div>
			<input type="hidden" name="eid" value="{$eid}" />
			<input type="hidden" name="uid" value="{$uid}" />
			<input type="hidden" id="time" name="ftime" value="">
			<hr/>
			<div class="row">
				<button class="btn btn-info col-sm-6 col-sm-offset-3" type="submit"><h2>提交</h2><span>time:</span><span id="mytime1">00:00:00</span></button>
			</div>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	$('form.form-group').submit(function(e){
			var nullcount = 0;
			var strs = '';
			var rccount = $('p.rccount').length;
			nullcount += rccount;
			$('input:radio:checked').each(function(){
				if(!$(this).attr('checked')){
					nullcount--;
				}
			})
			$('input:checkbox:checked').each(function(){
				if(!$(this).attr('checked')){
					nullcount--;
				}
			})
			$('form.form-group input').each(function(){
				if($(this).val()==''){
					nullcount++;
				}
			});
			$('form.form-group textarea').each(function(){
				if($(this).val()==''){
					nullcount++;
				}
			});
			if(nullcount>0){
				alert('你还有'+nullcount+'选项没有填写，请检查后再提交。');
				return false;
			}
			
		});
})
	/*****************************************************************************
	 * 为字符串类型增加中文长度的属性
	 * 例如: alert("hey~马可菠萝·诺顿.".gbkLength());
	 * 使用注意: 
	 * last update by applebomb 050323
	 *****************************************************************************/
	String.prototype.gbkLength = function()
	{
	var result = 0;
	for(var i = 0; i < this.length; i ++)
		if(this.charAt(i).charCodeAt(this.charAt(i)) > 127)
			result += 2;
		else
			result += 1;
		return result;
	}
	document.onselectstart = new Function("event.returnValue=false;"); //禁止选择,也就是无法复制 
	document.oncontextmenu = new Function("event.returnValue=false;");
</script>