<div class="slider_bg">
<div class="wrap">
	<div class="slider">
				<!---start-da-slider-->
				<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>欢迎来这儿考试管理系统</h2>
					<p>这是一个简洁而又优秀的考试管理系统，帮助你快速查看考生成绩。使考试更加严谨公正、真实可信， 从而降低考试成本，提高考试管理效率。</p>
				</div>
				<div class="da-slide">
					<h2>快速查看考生成绩与分析</h2>
					<p>独到的智能排序与预防作弊的功能，在分析卷面的同时，对作弊情况也一目了然。</p>
				</div>
				<div class="da-slide">
					<h2>试卷导入系统（待测）</h2>
					<p>高效的工作方式，需要更加智能的系统。</p>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
 			<!---//End-da-slider-->
 	</div>
</div>
</div>
<!-- start main -->
<div class="wrap">
	<div class="main">
		<div class="main_text">
			<h2>题库 <span>抽题 </span> ，随机组卷</h2>
			<p class="para">例： 构建一个100题目的题库，考试时随机从题库中抽题组卷，每份答卷都是20个题目，但每份试卷的题目都不完全相同。</p>
		</div>
		<!-- start grids_of_3 -->
		<div class="grids_of_3">
			<div class="grid1_of_3">
				<img src="__PUBLIC__/images/icon1.png" alt=""/>
				<h3><a href="#">系统 <span> 自动阅卷 </span> </a></h3>
				<p>设置考试试题的正确答案,交给系统自动评卷。设置答案解析，知其然还要知其所以然</p>
			</div>
			<div class="grid1_of_3">
				<img src="__PUBLIC__/images/icon2.png" alt=""/>
				<h3><a href="#">自动<span>计算成绩</span> </a></h3>
				<p>系统自动计算考生总分，系统自动为考生进行排名</p>
			</div>
			<div class="grid1_of_3">
				<img src="__PUBLIC__/images/icon3.png" alt=""/>
				<h3><a href="#">限时答题 <span> 、实时提醒 </span> </a></h3>
				<p>设置试卷的最长作答时间，模拟真实考试</p>
			</div>
			<div class="clear"></div>
		</div>
		<!-- end grids_of_3 -->
	</div>
</div>
<!-- start main_bg -->
<div class="main_bg">
<div class="wrap">
	<div class="main content_top">
		<!-- start span_of_3 -->
		<div class="span_of_3">
			<div class="span1_of_3">
				<a href="details.html"><img src="__PUBLIC__/images/pic1.jpg" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">生活常识在线考试（50题）</a></h3>
					<p>共50题，每题2分，总分100分。考试时间25分钟。</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="__PUBLIC__/images/pic2.jpg" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">消防安全知识在线考试</a></h3>
					<p>共50题，每题2分，总分100分。考试时间25分钟。</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="__PUBLIC__/images/pic3.jpg" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">销售人员对产品了解程度在线考试</a></h3>
					<p>共50题，每题2分，总分100分。考试时间25分钟。</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!--  -->
		<div class="span_of_3">
			<div class="span1_of_3">
				<a href="details.html"><img src="__PUBLIC__/images/pic4.jpg" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">中国移动入职培训在线考试(礼仪)</a></h3>
					<p>考试分为选择、判断和填空题。总分100分。考试时间30分钟。</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="__PUBLIC__/images/pic5.jpg" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">驾驶证模拟在线考试C1科目(判断题)</a></h3>
					<p>考试分为选择、判断和填空题。总分100分。考试时间30分钟。</p>
				</div>
			</div>
			<div class="span1_of_3">
				<a href="details.html"><img src="__PUBLIC__/images/pic6.jpg" alt=""/></a>
				<div class="span1_of_3_text">
					<h3><a href="details.html">大学计算机期末考试</a></h3>
					<p>考试分为选择、判断和填空题。总分100分。考试时间30分钟。</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- end grids_of_3 -->
	</div>
</div>
</div>
<div class="wrap">
		<ul id="flexiselDemo3">
			<li><img src="__PUBLIC__/images/client1.jpg" /></li>
			<li><img src="__PUBLIC__/images/client6.jpg" /></li>
			<li><img src="__PUBLIC__/images/client2.jpg" /></li>
			<li><img src="__PUBLIC__/images/client5.jpg" /></li>
			<li><img src="__PUBLIC__/images/client4.jpg" /></li>
			<li><img src="__PUBLIC__/images/client3.jpg" /></li>
			<li><img src="__PUBLIC__/images/client4.jpg" /></li>
		</ul>
</div>