<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <a href="#">Dashboard</a>
      </li>
      <li class="active">查看用户</li>
      </ul><!-- .breadcrumb -->
      <div class="nav-search" id="nav-search">
        <form class="form-search">
          <span class="input-icon">
            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
            <i class="icon-search nav-search-icon"></i>
          </span>
        </form>
        </div><!-- #nav-search -->
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1>
          查看用户
          <small>
          <i class="icon-double-angle-right"></i>
          修改用户信息
          </small>
          </h1>
          </div><!-- /.page-header -->
          
          <div class="row">
            <div class="col-xs-12">
              <h3 class="header smaller lighter blue">反馈</h3>
              <div class="table-header">
                Results for 反馈
              </div>
              <div class="table-responsive">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="center">
                        <label>
                          <span class="lbl">No</span>
                        </label>
                      </th>
                      <th class="center">留下的名字</th>
                      <th class="center">留下的邮箱</th>
                      <th class="center">手机号</th>
                      <th class="center">反馈内容
                      </th>
                      <th class="center">
                        <i class="icon-time bigger-110 hidden-480"></i>
                        时间
                      </th>
                      <th class="center">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <volist name="contact" id="vo" >
                    <tr>
                      <td class="center">
                        <label>
                          {$vo.cid}
                          <span class="lbl"></span>
                        </label>
                      </td>
                      <td>
                        <a href="#">{$vo.username}</a>
                      </td>
                      <td>{$vo.useremail}</td>
                      <td class="hidden-480">{$vo.userphone}</td>
                      <td>{$vo.usermsg}</td>
                      <td>{$vo.ctime}</td>
                      <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                          <a class="green" href="mailto:{$vo.useremail}?subject=回复{$vo.username}用户的一封信&body=这里写入回复用户的内容">
                            <i class="icon-pencil bigger-130"></i>
                          </a>
                          <a class="red" href="del?cid={$vo.cid}">
                            <i class="icon-trash bigger-130"></i>
                          </a>
                        </div>
                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                          <div class="inline position-relative">
                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-caret-down icon-only bigger-120"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                              <li>
                                <a href="mailto:{$vo.useremail}?subject=回复{$vo.username}用户的一封信&body=这里写入回复用户的内容" class="tooltip-success" data-rel="tooltip" title="Edit">
                                  <span class="green">
                                    <i class="icon-edit bigger-120"></i>
                                  </span>
                                </a>
                              </li>
                              <li>
                                <a href="del?cid={$vo.cid}" class="tooltip-error" data-rel="tooltip" title="Delete">
                                  <span class="red">
                                    <i class="icon-trash bigger-120"></i>
                                  </span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </volist>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          </div><!-- /.main-content -->
          <script src="__PUBLIC__/assets/js/jquery.dataTables.min.js"></script>
          <script src="__PUBLIC__/assets/js/jquery.dataTables.bootstrap.js"></script>
          <script src="__PUBLIC__/assets/js/dataTables.sort.plungin.js"></script>
          <!-- inline scripts related to this page -->
          <script type="text/javascript">
          jQuery(function($) {
          var oTable1 = $('#sample-table-2').dataTable({
          //"bPaginate": false, //翻页功能
          //"sScrollY": "200px",
          //"bPaginate": false
          "aoColumnDefs": [
                    { "sType": "html-percent", "aTargets": [0] },    //指定列号使用自定义排序
                ],
          "aaSorting": [ [0,'asc']],
          "aLengthMenu": [[10, 20, -1], [10, 20, "所有"]],
          "iDisplayLength":10 ,
          });
          $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
          this.checked = that.checked;
          $(this).closest('tr').toggleClass('selected');
          });
          });
          $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
          function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
          var off2 = $source.offset();
          var w2 = $source.width();
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
          }
          })
          </script>